.positive {
  color: #bada55;
}

.negative {
  color: #c00;
}

.my-output {
  font-size: 2rem;
}

span {
  /* This is in order to make sure that event delegation works 
  on the reset button. NEVER block pointer events for all
   elements of one type!!!! */
  pointer-events: none;
}
